<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{/* block title */}}go-annotation{{/* endblock */}}</title>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <style>{{.CSS}}</style>
</head>
<body class="bg-base-100">
    <div class="container mx-auto px-4 py-8">
        {{/* block content */}}
        <p>Default content</p>
        {{/* endblock */}}
    </div>
</body>
</html>
